theme = "catppuccin_frappe"
[editor.soft-wrap]
enable = true



[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor]
line-number = "relative"



[keys.normal]
C-g = [
    ":write-all", 
    ":new", 
    ":insert-output gitui >/dev/tty", 
    ":set mouse false", 
    ":set mouse true",
    ":buffer-close!", 
    ":redraw", 
    ":reload-all"
]
